<ul class="list-group">
    <li *ngFor="let counter of counters" class="list-group-item d-flex align-items-center p-0">
        <button mat-icon-button (click)="edit(counter)">
            <i class="fas fa-cog"></i>
        </button>
        <button mat-icon-button (click)="delete(counter)" color="warn">
            <i class="fas fa-trash"></i>
        </button>
        <button mat-button class="h-100 w-100 text-left">
            <span class="h4">{{counter.name}}</span>
        </button>
    </li>
</ul>