/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

// Angular material theme
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/scss/bootstrap.scss";

/**
  * A bottom-right floating container to contain fab buttons
  */
.fab-container {
    position: fixed;
    display: block;
    bottom: 5%;
    right: 5%;
    z-index: 5;
}

.clickable {
  cursor: pointer;
}